{{ $list := (.Site.Menus.main) }}
{{ $len := (len $list) }}
<nav class="db dt-l w-100 border-box pa3 ph5-l">
  <a class="db dtc-l link black w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="">
    <h1 class="f3 fw2-l dib w-100 w-auto-l ma0">Kubernetes Community</h1>
  </a>
  <div class="db dtc-l w-100 w-80-l tc tr-l">
    {{ range $index, $element := $list }}
      <a
        {{ if ne (add $index 1) $len }}
          class="link dark-gray f5 dib w-100 w-auto-l pv2 mr2"
        {{ else }}
          class="link dark-gray f5 dib w-100 w-auto-l pv2"
        {{ end }}
        href="#" title="">{{ .Name }}</a>
    {{ end }}
  </div>
</nav>
