<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
</head>
<body class="sans-serif">
  <header>
    {{ partial "site-nav.html" . }}
    <div class="tc-l mt4 mt5-m mt6-l ph3">
      <h1 class="f2 f1-l fw2 mb0 lh-title blue">Kubernetes Community</h1>
      <h2 class="f3 fw1 mt3 mb4">Join our world-class production-grade container orchestration system development team</h2>
      <a class="f5 no-underline dib bg-blue white ph4 pv3" href="#">Get Started</a>
    </div>
  </header>
</body>
</html>
