<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
</head>
<body class="sans-serif">
  <header>
    <nav class="dt w-100 mw9 center">
      <div class="dtc">
        <img class="dib pl4 v-mid" src="logo.png"/>
        <h1 class="f3 dib v-mid">Community</h1>
      </div>
      <div class="dtc">
        <ul class="list">
        {{ range .Site.Menus.main }}
          <li class="dib f5 v-mid pr2">{{ .Name }}</li>
        {{ end }}
        </ul>
      </div>
    </nav>
  </header>
  <section class="pv6 tc">
    <header>
      <img src="name.png"/>
      <h1 class="f1 black-90 ma0">Community</h1>
    </header>
    <h2 class="f4 tc black-60 pv4">Welcome to the Kubernetes Community!</h2>
    <h3 class="f3 black-60 w-50 center mb4">Join our elite developers to develope a World-Class Production-Grade Container Orchestration System</h3>
    <a href="#" class="f5 dib no-underline black bg-animate hover-bg-black hover-white pa3 ba border-box">Join Now</a>
  </section>
</body>
</html>
